/* Navbar styles */
.navbar {
	background-color: #fff;
	display: flex;
	width: 100%;
	justify-content: center;
	flex-basis: 80px;
	z-index: 2;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-main {
	display: flex;
	width: 100%;
	max-width: 1400px;
	height: 75px;
	justify-content: space-between;
	align-items: center;
	padding: 12px 48px;
}
/* Navbar brand styles */
.navbar-brand {
	color: #fff;
	font-size: 1.6rem;
	font-weight: bold;
	text-decoration: none;
	border: none;
    padding: 8px 12px;
    border-radius: 12px;
    border: 2px solid #10264b;
	background-color: #10264b;
    cursor: pointer;
}

/* Login and Register button styles */
.navbar-nav {
	display: flex;
	gap: 10px;
}

.btn-blue {
	background-color: #10264b;
	color: #fff;
}

.btn-white {
	background-color: #fff;
	color: #10264b;
	border: 2px solid #10264b;
}

.btn-red {
	background-color: #d24141;
	color: #fff;
}

.btn-blue:hover {
	background-color: #fff;
	color: #10264b;
	border: 2px solid #10264b;
}

.btn-red:hover {
	background-color: #fff;
	color: #d24141;
	border: 2px solid #d24141;
}
