.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	/* overflow: hidden; */
	/* background-color: rgba(238, 238, 238, 1); */
}
.btn {
	padding: 12px 24px;
	border: 2px solid rgba(0,0,0,0);
	border-radius: 6px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 0.9rem;
    font-weight: bold;
	transition: all 200ms;
}



